<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportsApplication1.Properties.Settings.baselineConnectionString"
            connectionString="Data Source=RASEL-49A299613;Initial Catalog=baseline;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>